# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


#   Components
src/Counter.jsx
src/Wrapper.jsx
src/Header.jsx
src/UserComponent.jsx
src/User.jsx
src/College.jsx
src/Student.jsx
src/Style.jsx
src/CSS/
src/UserComponent.css
src/UserProfile.jsx
src/userProfile.module.css
src/ForwardRef.jsx
src/DerivedState.jsx
src/AddUser.jsx
src/DisplayUser.jsx
src/UpdatingObjectState.jsx
src/UpdatingArray.jsx
src/ActionState.jsx
src/UseId_Hook.jsx
src/Fragment.jsx
src/Context.jsx
src/ClassContext.jsx
src/CollegeContext.jsx
src/StudentContext.jsx
src/SubjectsContext.jsx
src/useToggle.jsx